
<div class="addEditTab">

  <div class="tabs">
    <p id="basicTab" class="underlined" {{action 'changeTab' 'basicTab'}}> BASIC INFO </p>
    <p id="tagsTab" {{action 'changeTab' 'tagsTab'}}> TAGS </p>
    <p id="imagesTab" {{action 'changeTab' 'imagesTab'}}> IMAGES </p>
  </div>

  <p class="tabButton" {{action 'save'}}> Save </p>

</div>

{{yield}}