
<table class="logsTable">

  <!-- Set log values-->
  <tr class="logsInTable">
    <td class="level" style={{color-log-level item.level}}>{{item.level}}</td>
    <td class="date">{{item.date}}</td>
    <td class="message">
      <div>{{item.message}}</div>
    </td>
    <td class="action">
      <!-- Open appropriate dialog on click -->
      <img src="assets/icons/delete.svg" {{action 'openDialog' item.date}}/>
    </td>
  </tr>

</table>

{{yield}}