
<table class="recipeTable" {{action 'goToEditPage' item.id}}>
  <tr>
    <td class="recipeThumbnail">
      <img class="recipeThumbnail" src="{{item.thumbnail}}" />
    </td>
    <td class="recipeTitle">{{item.title}}</td>
    <td class="recipeState">
      <p {{action 'openPublishDialog' item.id bubbles=false}} class="publishedButton {{set-published-button-text item.state}}"  style={{set-published-button-appearence item.state}}>
        {{set-published-button-text item.state}}
      </p>
    </td>
    <td class="recipeAction">
      <img src="/assets/icons/delete.svg" class="{{check-delete-button item.state}}" {{action 'openDeleteDialog' item.id bubbles=false}}/>
      <!--<img src="/assets/icons/pencil.svg"/>-->
    </td>
  </tr>
</table>

{{yield}}