
<div class="pageContainer">

  {{search-input-component callSearch=(action 'search')}}

  <br/>
  <br/>

  <div id="appsPage">

    {{#each model.data as |app|}}
      {{app-item-component item=app currentId=currentAppId message=dialogMessage function=functionName}}
    {{/each}}

  </div>

</div>

{{paper-fab-component icon='plus' page='add-app'}}

<!-- Set confirmation dialog -->
<div id="confirmationDialog" class="dialogWrapper confirmationDialog">
  <!-- Set component properties and closure action for triggering appropriate controller action -->
  {{confirmation-dialog-component item=dialogMessage call=(action functionName)}}
</div>

{{outlet}}