
<div id="statisticPage" class="pageContainer">

  <div class="statisticItem" style="background-color: #F44336">
      <img src="/assets/icons/bug_white.png" />
      <div>
        <p>{{model.bug_reports}}</p>
        <p>Bug reports</p>
      </div>
  </div>

  <div class="statisticItem" style="background-color: #81C784">
    <img src="/assets/icons/white_accessibility.png" />
    <div>
      <p>{{model.total_exercises}}</p>
      <p>Exercises</p>
    </div>
  </div>

  <div class="statisticItem" style="background-color: #8D6E63">
    <img src="/assets/icons/white_calendar.png" />
    <div>
      <p>{{model.training_plans}}</p>
      <p>Workout plans</p>
    </div>
  </div>

  <div class="statisticItem" style="background-color: #42A5F5">
    <img src="/assets/icons/white_tags.png" />
    <div>
      <p>{{model.tags}}</p>
      <p>Tags</p>
    </div>
  </div>

  <div class="statisticItem" style="background-color: #607D8B">
    <img src="/assets/icons/white_user.png" />
    <div>
      <p>{{model.total_users}}</p>
      <p>Tags</p>
    </div>
  </div>

  <div class="statisticItem" style="background-color: #9575CD">
    <img src="/assets/icons/white_gym.png" />
    <div>
      <p>{{model.total_workouts}}</p>
      <p>Workouts</p>
    </div>
  </div>

  <div class="statisticItem" style="background-color: #4DB6AC">
    <img src="/assets/icons/white_restaurant.png" />
    <div>
      <p>{{model.total_nutrition_plans}}</p>
      <p>Nutrition plans</p>
    </div>
  </div>

  <div class="statisticItem" style="background-color: #FFB74D">
    <img src="/assets/icons/white_menu.png" />
    <div>
      <p>{{model.total_recepies}}</p>
      <p>Recipes</p>
    </div>
  </div>

</div>

{{outlet}}