
<div class="pageContainer">

  {{search-input-component callSearch=(action 'search')}}

  <br/>
  <br/>

  <div id="workoutsPage">

    {{#each model.data as |workout|}}
      {{workout-item-component item=workout currentId=currentWorkoutId message=dialogMessage function=functionName}}
    {{/each}}

  </div>

</div>

{{paper-fab-component icon='plus' page='add-workouts'}}

<!-- Set confirmation dialog -->
<div id="confirmationDialog" class="dialogWrapper confirmationDialog">
  <!-- Set component properties and closure action for triggering appropriate controller action -->
  {{confirmation-dialog-component item=dialogMessage call=(action functionName)}}
</div>

{{outlet}}