
<div class="pageContainer">

  {{search-input-component callSearch=(action 'search')}}

  <br/>
  <br/>

  <div id="planPage">

    {{#each model.data as |plan|}}
      {{workoutplan-item-component item=plan currentId=currentPlanId message=dialogMessage function=functionName}}
    {{/each}}

  </div>

</div>

{{paper-fab-component icon='plus' page='add-workout-plan'}}

<!-- Set confirmation dialog -->
<div id="confirmationDialog" class="dialogWrapper confirmationDialog">
  <!-- Set component properties and closure action for triggering appropriate controller action -->
  {{confirmation-dialog-component item=dialogMessage call=(action functionName)}}
</div>

{{outlet}}